# GitHub Actions Documentation: https://docs.github.com/en/actions

name: "build"

on:
  push:
    branches:
      - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COMPOSER_ROOT_VERSION: "1.99.99"

jobs:
  xml-validation:
    name: "XML validation"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4.1.2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@2.30.0"
        with:
          php-version: "latest"
          coverage: "none"

      - name: "Install dependencies (Composer)"
        uses: "ramsey/composer-install@3.0.0"

      - name: "Validate ruleset"
        uses: "szepeviktor/phpcs-ruleset-validator@v0.4.0"
        with:
            xml_ruleset: "Ramsey/ruleset.xml"

  functional-tests:
    name: "Standards Tests"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4.1.2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@2.30.0"
        with:
          php-version: "latest"
          coverage: "none"
          ini-values: "short_open_tag=On"

      - name: "Install dependencies (Composer)"
        uses: "ramsey/composer-install@3.0.0"

      - name: "Run tests"
        run: "composer test:standards"

  debug-tests:
    name: "Debug Tests"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4.1.2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@2.30.0"
        with:
          php-version: "latest"
          coverage: "none"
          ini-values: "short_open_tag=On"

      - name: "Install dependencies (Composer)"
        uses: "ramsey/composer-install@3.0.0"

      - name: "Run PHP CodeSniffer"
        run: "./vendor/bin/phpcs --standard=Ramsey --report=full tests/Errors || ( exit 0; )"
